* {
    box-sizing: border-box;
}

.gameBoardContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    height: 80%;
    border-radius: 35px;
    border: solid 1px rgb(0, 151, 22);
    background-color: rgb(0, 151, 22);
}

.scoreContainer {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 10%;
    height: 100px;
    border-radius: 10px;
    border: solid 1px rgb(24, 23, 16);
    background-color: white;
}

.canvasContainer {
    position: absolute;
    padding: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 65%;
    height: 80%;
    border-radius: 15px;
    border: solid 1px #0d0b0b;
    background-color: rgb(215, 207, 207);
}

.canvasContainer>div {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: solid 1px #100505;
    background-color: white;
}

.box {
    position: absolute;
}

.box>div {
    position: relative;
    top: -22%;
}

.gameOverContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 130px;
    border-radius: 35px;
    background-color: rgb(255, 0, 0, 0.8);
    border: solid 1px black;
    font-size: 60px;
    font-weight: bold;
    padding-top: 20px;
}

.footNote {
    position: absolute;
    bottom: 5px;
    left: 50px;
    color: white;
}

.boundryLine {
    position: absolute;
    margin: 0px;
    width: 100%;
}